# dependencies
node_modules/

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# temporary scripts
gen.py
gen_cards.py
generate_quran.py
gen_quran.py
gen_quran2.py
add_more_quran.py
